@charset "utf-8";

::-webkit-input-placeholder { /* Chrome 4~56 */
	color: #eaeaea;
}
:-moz-placeholder { /* Firefox 4~18 */
	color: #eaeaea;
	opacity:  1;
}
::-moz-placeholder { /* Firefox 19~50 */
	color: #eaeaea;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:  #eaeaea;
}
::placeholder { /* Firefox 51+, Chrome 57+ */
	color: #eaeaea;
	opacity:  1;
}