@charset "utf-8";

.wrapper {
	position: relative;
	left: 0;
	max-width: 100%;
	min-width: 400px;
	-webkit-transition: all 0.45s;
	transition: all 0.45s;
}
.wrapper.ismenu { /* jQuery */
	left: 80%;
}

/* header */
#header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 92px;
	-webkit-transition: all 0.45s;
	transition: all 0.45s;
}
#header.ismenu { /* jQuery */
	left: 80%;
}
#header .upper {
	position: relative;
	padding: 0 15px;
	height: 60px;
	background-color: #fff;
}
#header .upper .tab {
	float: left;
	margin-top: 22px;
}
#header .upper .tab a {
	display: block;
	width: 17px;
	height: 16px;
	text-indent: -9999px;
	background: url(../images/btns.png) no-repeat -110px -5px;
}
#header .upper .tab.active a { /* jQuery */
	background: url(../images/btns.png) no-repeat -127px -5px;
}
#header .upper .logo {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -48px;
	margin-top: -16px;
}
#header .upper .search {
	float: right;
	margin-top: 20px;
}
#header .upper .search a {
	display: block;
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	background: url(../images/btns.png) no-repeat -110px -29px;
}
#header .upper .search.active a { /* jQuery */
	background: url(../images/btns.png) no-repeat -134px -29px;
}
#header .gnb {
	padding: 0 10px;
	width: auto;
	height: 32px;
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* gnb */
#gnb {
	position: relative;
}
#gnb .menu {
	position: relative;
	margin: 0 30px;
	width: auto;
	height: 30px;
	overflow: hidden;
}
#gnb .menu ul {
	position: absolute;
	width: 233.331%; /* 33.333%*7 */
}
#gnb .menu li {
	float: left;
	width: 14.285%; /* 100%/7 */
}
#gnb .menu li a {
	display: block;
	line-height: 32px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 1px;
}
#gnb .prev {
	position: absolute;
	left: 0;
	top: 0;
	width: 11px;
	height: 30px;
}
#gnb .prev a {
	display: block;
	margin: 5px 0;
	width: 11px;
	height: 20px;
	text-indent: -9999px;
	background: url(../images/btns.png) no-repeat -5px -46px;
}
#gnb .next {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 30px;
}
#gnb .next a {
	display: block;
	margin: 5px 0;
	width: 11px;
	height: 20px;
	text-indent: -9999px;
	background: url(../images/btns.png) no-repeat -16px -46px;
}
.search_open {
	position: fixed;
	left: 0;
	top: 92px;
	z-index: 9999;
	width: 100%;
	height: 0;
	overflow: hidden;
	background-color: #fff;
	-webkit-transition: height 0.3s;
	transition: height 0.3s;
}
.search_open.active { /* jQuery */
	height: 70px;
}
.search_open .search_tab {
	margin: 17px 20px 0 20px;
	padding: 7px 8px 3px;
	width: 93%;
	height: 37px;
	border-bottom: 2px solid #333;
}
.search_open .search_tab input[type=text] {
	float: left;
	padding: 7px 0 0;
	width: auto;
	vertical-align: top;
	border: none;
	outline: none;
	font-family: "µ¸¿ò", Dotum, AppleGothic, sans-serif;
	font-size: 11px;
}
.search_open .search_tab input[type=button] {
	float: right;
	margin-left: 10px;
	width: 22px;
	height: 22px;
	vertical-align: top;
	border: none;
	background: url(../images/btns.png) no-repeat -110px -29px;
}

/* open tab menu */
.gnb_open {
	position: fixed;
	left: -80%;
	top: 0;
	z-index: 10000;
	padding: 25px 15px 60px 15px;
	width: 80%;
	height: 100%;
	overflow-y: auto;
	background-color: #eee;
	-webkit-transition: left 0.3s;
	transition: left 0.3s;
}
.gnb_open.active { /* jQuery */
	left: 0;
}
.gnb_open .location {
	font-size: 0;
}
.gnb_open .location li {
	display: inline-block;
	margin: 0 1%;
	width: 48%;
}
.gnb_open .location li a {
	display: block;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #636363;
	background-color: #fff;
	border: 1px solid #d2d2d2;
}
.gnb_open .tit {
	margin-top: 25px;
	padding: 0 10px;
	width: 100%;
	line-height: 35px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	border-bottom: 2px solid #333;
}
.gnb_open .list > ul > li {
	float: left;
	width: 50%;
}
.gnb_open .list > ul > li > a {
	display: block;
	padding-left: 10px;
	width: 100%;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 13px;
	background-color: #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.gnb_open .tit .fl_l {
	display: block;
	float: left;
}
.gnb_open .tit .fl_r {
	display: block;
	float: right;
}
.gnb_open .tit .up {
	display: none;
}
.gnb_open .tit.active .up { /* jQuery */
	display: block;
}
.gnb_open .tit.active .down { /* jQuery */
	display: none;
}
.gnb_open .tab_con {
	display: none;
	padding: 10px 0 0 15px;
}
.gnb_open .tab_con li {
	float: left;
}
.gnb_open .tab_con li a {
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
}
.gnb_open .color .tab_con li {
	width: 25%;
}
.gnb_open .color .tab_con li a span {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 8px;
	width: 22px;
	height: 22px;
}
.gnb_open .color .tab_con li a span.red {
	background: url(../images/btns.png) no-repeat -3px -163px;
}
.gnb_open .color .tab_con li a span.pink {
	background: url(../images/btns.png) no-repeat -28px -163px;
}
.gnb_open .color .tab_con li a span.brown {
	background: url(../images/btns.png) no-repeat -53px -163px;
}
.gnb_open .color .tab_con li a span.beige {
	background: url(../images/btns.png) no-repeat -78px -163px;
}
.gnb_open .color .tab_con li a span.orange {
	background: url(../images/btns.png) no-repeat -103px -163px;
}
.gnb_open .color .tab_con li a span.yellow {
	background: url(../images/btns.png) no-repeat -128px -163px;
}
.gnb_open .color .tab_con li a span.green {
	background: url(../images/btns.png) no-repeat -153px -163px;
}
.gnb_open .color .tab_con li a span.blue {
	background: url(../images/btns.png) no-repeat -3px -188px;
}
.gnb_open .color .tab_con li a span.purple {
	background: url(../images/btns.png) no-repeat -28px -188px;
}
.gnb_open .color .tab_con li a span.white {
	background: url(../images/btns.png) no-repeat -53px -188px;
}
.gnb_open .color .tab_con li a span.gray {
	background: url(../images/btns.png) no-repeat -78px -188px;
}
.gnb_open .color .tab_con li a span.black {
	background: url(../images/btns.png) no-repeat -103px -188px;
}
.gnb_open .color .tab_con li a span.mixed {
	background: url(../images/btns.png) no-repeat -128px -188px;
}
.gnb_open .pattern .tab_con li {
	width: 33.333%;
}
.gnb_open .pattern .tab_con li a span {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 8px;
	width: 24px;
	height: 24px;
}
.gnb_open .pattern .tab_con li a span.striped {
	background: url(../images/btns.png) no-repeat -5px -216px;
}
.gnb_open .pattern .tab_con li a span.checked {
	background: url(../images/btns.png) no-repeat -35px -216px;
}
.gnb_open .pattern .tab_con li a span.solid {
	background: url(../images/btns.png) no-repeat -64px -216px;
}
.gnb_open .pattern .tab_con li a span.patterned {
	background: url(../images/btns.png) no-repeat -93px -216px;
}
.gnb_open .pattern .tab_con li a span.flower {
	background: url(../images/btns.png) no-repeat -122px -216px;
}
.gnb_open .pattern .tab_con li a span.dotted {
	background: url(../images/btns.png) no-repeat -151px -216px;
}
.gnb_open .tab_con li a span.txt {
	position: absolute;
	left: 0;
	top: 0;
	line-height: 40px;
	font-size: 13px;
	font-weight: 400;
}
.gnb_open .sns {
	margin-top: 30px;
	text-align: center;
}
.gnb_open .sns li {
	display: inline-block;
	margin: 0 1px;
}
.gnb_open .sns li a img {
	width: 50px;
	height: auto;
}
.gnb_open .copyright {
	margin-top: 20px;
	text-align: center;
	font-size: 11px;
	color: #666;
}

/* dim layer */
.dim {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
}
.dim.active { /* jQuery */
	display: block;
}